<?xml version="1.0"?>
<launch>
  <!-- Load robot description -->
  <include file="$(find hw_description)/launch/description.launch" >
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find hw_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="hw_joint_publisher hw_velocity_controller"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find hw_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="hw_velocity_controller/cmd_vel"/>
  </node>

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hw_control)/rviz/show_tf.rviz" /> -->
</launch>
